:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex: 1;
  width: 100vh;
  height: 100vh;
  min-width: 320px;
  min-height: 100vh;
}
